<div class="remove-container container-block">
    <h2 class="container-block-title">
      About
    </h2>
	I am someone who always tries to use the computer science to help us to live better.
	</b>
	<i>Make it work. Make it right. Make it fast.</i>
	</br>
	</br>
	"Computer science is no more about computers than astronomy is about telescopes."
	</br>
	— Edsger W. Dijkstra
	</br>
	</br>
	"There are three great events in history. One, the creation of
		the universe. Two, the appearance of life. The third one,
		which I think is equal in importance, is the appearance of
		Artificial Intelligence."
	</br>
	— Edward Fredkin
</div>